<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<div *ngIf="formVisible" class="logins-container">
  <div class="login-layout">
    <div class="login-box">
      <form (ngSubmit)="login()">
        <div class="inputrow">
          <input
            type="text"
            id="name1"
            name="username"
            [(ngModel)]="username"
            placeholder="Username"
            required
          />
          <i class="bi bi-person"></i>
        </div>

        <div class="inputrow">
          <input
            [type]="passwordFieldType"
            id="pass"
            name="password"
            [(ngModel)]="password"
            placeholder="Password"
            required
          />
          <label class="ion-locked" for="pass"></label>
          <i class="toggle-password" (click)="togglePasswordVisibility()">
            <span *ngIf="passwordFieldType === 'password'" class="ion-eye"></span>
            <span *ngIf="passwordFieldType === 'text'" class="ion-eye-disabled"></span>
          </i>
        </div>

        <div class="remember-me">
          <input
            type="checkbox"
            id="remember"
            name="remember"
            [(ngModel)]="rememberMe"
          />
          <label class="radio" for="remember">Stay Logged In</label>
        </div>

        <div *ngIf="showError" class="error-message">
          Usuario o contraseña incorrectos.
        </div>

        <div class="button-group">
          <button type="submit" class="signin-submit">
            LOGIN
          </button>
          <button
            type="button"
            class="signin-submit"
            (click)="openRecoveryModal()"
          >
            OLVIDÉ MI CONTRASEÑA
          </button>
        </div>
      </form>
    </div>

    <div class="welcome-box">
      <h1>Bienvenido a FarmaPresence</h1>
      <p>Por favor inicie sesión para poder usar nuestros servicios de asistencia.</p>
    </div>
  </div>
</div>

<!-- Modal recuperación contraseña -->
<div *ngIf="showRecoveryModal" class="recovery-modal">
  <form (ngSubmit)="sendRecoveryLink()">
    <h2>Recuperar Contraseña</h2>
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Ingrese su correo electrónico"
      required
    />
    <div class="button-group">
      <button type="submit" class="signin-submit">Enviar enlace de recuperación</button>
      <button type="button" class="signin-submit" (click)="closeRecoveryModal()">Cancelar</button>
    </div>
  </form>
</div>

<div *ngIf="validationMessage" class="info-message">{{ validationMessage }}</div>
