<div class="panel-container">
  <div class="usuario-container">
    <h2>Registro de Usuario</h2>
    <form class="usuario-form" (ngSubmit)="onSubmit()">
      <!-- Fila 1: Nombre Completo / Identificación -->
      <div class="form-row">
        <div class="form-column">
          <div class="form-group">
            <label for="nombreCompleto">Nombre completo:</label>
            <input
              type="text"
              id="nombreCompleto"
              [(ngModel)]="usuario.nombreCompleto"
              name="nombreCompleto"
              placeholder="Nombre completo"
              required
            />
          </div>
        </div>
        <div class="form-column">
          <div class="form-group">
            <label for="identificacion">Identificación:</label>
            <input
              type="text"
              id="identificacion"
              [(ngModel)]="usuario.identificacion"
              name="identificacion"
              placeholder="N° de documento de identidad"
              required
            />
          </div>
        </div>
      </div>

      <!-- Fila 2: Correo / Contraseña -->
      <div class="form-row">
        <div class="form-column">
          <div class="form-group">
            <label for="correoElectronico">Correo electrónico:</label>
            <input
              type="email"
              id="correoElectronico"
              [(ngModel)]="usuario.correoElectronico"
              name="correoElectronico"
              placeholder="Correo electrónico"
              required
            />
          </div>
        </div>
        <div class="form-column">
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <div class="password-wrapper">
              <input
                [type]="mostrarContrasena ? 'text' : 'password'"
                id="password"
                [(ngModel)]="usuario.password"
                name="password"
                placeholder="Contraseña del usuario"
                required
              />
              <button type="button" (click)="toggleMostrarContrasena()" class="toggle-btn">
                {{ mostrarContrasena ? '🙈' : '👁️' }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Fila 3: Nombre de usuario / Rol -->
      <div class="form-row">
        <div class="form-column">
          <div class="form-group">
            <label for="username">Nombre de usuario:</label>
            <input
              type="text"
              id="username"
              [(ngModel)]="usuario.username"
              name="username"
              placeholder="Nombre de usuario"
              required
            />
          </div>
        </div>

        <div class="form-column">
          <div class="form-group">
            <label for="rol">Rol:</label>
            <select id="rol" [(ngModel)]="usuario.rol" name="rol" required>
              <option value="ADMIN">Administrador</option>
              <option value="USER">Usuario Común</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Botón de envío -->
      <button type="submit" class="submit-btn">Registrar usuario</button>
    </form>
  </div>
</div>
