<!-- bienvenida.component.html -->
<div class="jumbotron">
    <h1 class="display-4">Bienvenido a FarmaGestión</h1>
    <p class="lead">Nuestra plataforma está diseñada para facilitar la gestión de inventario, empleados y reportes de asistencia en la farmacia. ¡Inicia sesión y explora todas nuestras herramientas para optimizar tu negocio!</p>
    <hr class="my-4">

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link" id="v-pills-empleados-tab" (click)="consultarEmpleados()">Consultar Empleados</button>
      <button class="nav-link" id="v-pills-actualizar-empleados-tab" (click)="abrirModalActualizar()">Actualizar Datos de Empleados</button>
    </div>

  <div *ngIf="empleados.length > 0" class="mt-3">
    <h3>Lista de Empleados</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Identificación</th>
          <th>Rol</th>
          <th>Activo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.identificacion }}</td>
          <td>{{ empleado.rol }}</td>
          <td>{{ empleado.activo ? 'Sí' : 'No' }}</td>
          <td><button class="btn btn-sm btn-primary" (click)="cargarEmpleadoParaActualizar(empleado)">Editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <!-- actualizar-empleados.component.html -->
  <div *ngIf="modalEstado" class="modal fade show" tabindex="-1" aria-labelledby="actualizarDatosLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Actualizar Datos de Empleados</h5>
          <button type="button" class="btn-close" (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="guardarCambios()">
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="idEmpleado" class="form-label"><strong>ID del Empleado</strong></label>
                <input type="text" class="form-control form-control-sm" id="idEmpleado" required readonly [value]="idEmpleado">
              </div>
              <div class="col-md-6 form-group">
                <label for="nombreEmpleado" class="form-label"><strong>Nombre</strong></label>
                <input type="text" class="form-control form-control-sm" id="nombreEmpleado" required [(ngModel)]="nombreEmpleado" name="nombreEmpleado">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="rolEmpleado" class="form-label"><strong>Rol</strong></label>
                <input type="text" class="form-control form-control-sm" id="rolEmpleado" required [(ngModel)]="rolEmpleado" name="rolEmpleado">
              </div>
              <div class="col-md-6 form-group">
                <label for="telefonoEmpleado" class="form-label"><strong>Teléfono</strong></label>
                <input type="text" class="form-control form-control-sm" id="telefonoEmpleado" required [(ngModel)]="telefonoEmpleado" name="telefonoEmpleado">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6 form-group">
                <label for="identificacionEmpleado" class="form-label"><strong>Identificación</strong></label>
                <input type="text" class="form-control form-control-sm" id="identificacionEmpleado" required [(ngModel)]="identificacionEmpleado" name="identificacionEmpleado">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>
